@CHARSET "UTF-8";
#navigation
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 15%;
	margin-bottom: auto;
}
#cart_view
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
}
.submit
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.change
{

}
#products
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;

}
table,th,thead,tbody
{
	
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	border-style: solid;
	border-color: black;
	padding-left: auto;
	padding-right: auto;
}

